<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/"/>
  <title>SpinMix</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link rel="stylesheet" type="text/css" href="/angularjs-slider/dist/rzslider.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.5.0/rzslider.min.css' rel='stylesheet' type='text/css'>
  <script src="/lodash/index.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/ng-draggable/ngDraggable.js"></script>
  <script src="/angular-animate/angular-animate.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
  <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/angular-confirm/angular-confirm.js"></script>
  <script src="/wavesurfer.js/dist/wavesurfer.umd.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/socket.io-client/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.5.0/rzslider.min.js"></script>
  <script src="/wavesurfer.js/dist/plugin/wavesurfer.timeline.min.js"></script>
  <script src="/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
  <script src="/wavesurfer.js/dist/plugin/wavesurfer.elan.min.js"></script>
  <script src="/wavesurfer.js/dist/plugin/wavesurfer.minimap.min.js"></script>
  <script src="/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.min.js"></script>
  <!--NP not being used. Commented to prevent 404s
  <script src="/angularjs-slider/dist/rzslider.min.js"></script>-->
  <script src="/main.js"></script>

  <!--<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/style.css" />-->
  <!--<script src="/lodash/index.js"></script>-->
  <!--<script src="/angular/angular.js"></script>-->
  <!--<script src="/angular-animate/angular-animate.js"></script>-->
  <!--<script src="/angular-ui-router/release/angular-ui-router.js"></script>-->
  <!--<script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>-->
  <!--<script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>-->
  <!--<script src="/socket.io-client/socket.io.js"></script>-->
  <!--<script src="/jquery/dist/jquery.min.js"></script>-->
  <!--<script src="/main.js"></script>-->
</head>
<body ng-app="FullstackGeneratedApp">
<!--<navbar></navbar>-->
<div id="main" ui-view></div>

</body>
</html>
