<h2>{{mixData.name}}</h2>
<div id="home-guide">
<uib-accordion close-others="true">
  <uib-accordion-group heading="Name" is-open="true">
    Name your template: <br>
    <input ng-model="mixData.name" type="text" placeholder="e.g. My Awesome HIIT Mix"/>
  </uib-accordion-group>
  <uib-accordion-group heading="Structure">
    <div class="left">
      <div>
        <div class="btn-group" role="group">
          <label ng-repeat="structure in structures" class="btn btn-default" ng-model="mixData.selectedStructure"
                 uib-btn-radio="structure">{{structure.name}}</label>
        </div>
      </div>
    </div>
    <div class="right">
      <div id="structure-preview">
        {{mixData.selectedStructure.description}}
      </div>
    </div>
  </uib-accordion-group>
  <uib-accordion-group heading="Length" is-open="true">
    <p>Estimate the length of your mix</p>
    <p>(You can always change this later)</p>
    <div id="timepicker">
      <input style="height: 30px" ng-model="mixData.duration.hours" type="number">
      <input style="height: 30px" ng-model="mixData.duration.minutes" type="number">
    </div>
  </uib-accordion-group>
  <!--<uib-accordion-group heading="Upload Music" is-open="true">-->
  <!--TODO: Add upload functionality here-->
  <!--</uib-accordion-group>-->
  <uib-accordion-group heading="Review">
    <p>If everything looks good, confirm below. Otherwise click a heading to edit.</p>
    <ol>
      <li class="title">Title: {{mixData.name}}</li>
      <li class="duration">Duration: {{mixData.duration.hours}}:{{mixData.duration.minutes}}</li>
      <li class="phases">Template: {{mixData.selectedStructure.name}}</li>
    </ol>
    <button class="btn-info" ng-click="startMix()">Looks good, let's go!</button>
  </uib-accordion-group>
</uib-accordion>
</div>
