<div id="mix-edit-buttons">
  <button type="button" ng-click="openAddPhase()">+ Section</button>
  <div id="_offset">Length: <input ng-model="mixLength"></div>
</div>
<div id="sfx-panel">
  <!-- effect is a string if it is a voice, object if it is a sfx -->
  <div ng-repeat="effect in mixEffects track by $index">
    <span class="glyphicon glyphicon-bell sfx-marker"
          uib-tooltip="{{effect.effect.name}}"
          uib-placement="top"
          uib-trigger="mouseenter"
          ng-style="stylizeEffect(effect)"></span>
  </div>
</div>
<div id="upper-panel">
  <div class="mix-frame">
    <div><!--NP Wrapper div to seperate ng-repeat from add button-->
      <div ng-dblclick="removeTrack($index)" ng-repeat="track in mix track by $index" ng-style="stylizer(track)"
           ng-drop="true"
           ng-drop-success="reorderMix($index, $data, $event, mix)">
        <div id="mix-clip" ng-drag="true" ng-drag-data="track">
          <span id="track-title">{{ track.name }}</span> - <span id="artist">{{track.artist}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="lower-panel">
  <div class="row resizable mix-frame" id="phases-view">
    <section class="phase-area" ng-repeat="phase in phases" resizable r-directions="['right']" r-flex="true"
             dur-sum="durSum()"
             mix-length="mixLength" workout-len="phase.duration" ng-drop="true"
             ng-drop-success="reorderPhase($index, $data, $event, phases)">
      <div id="phase-edit-button">
        <button class="btn btn-default" ng-click="removePhase($index)"><span class="glyphicon glyphicon-ban-circle"></span></button>
      </div>
      <div ng-drag="true" ng-drag-data="phase" id="{{phase.color}}" class="a-phase">
        <p>{{phase.name}}</p>
        <p>{{phase.duration}} SEC</p>
      </div>
    </section>
    <button id="phase-adder" class="phase-adder-hidden" ng-click="openAddPhase()"><span
      class="glyphicon glyphicon-plus-sign"></span></button>
  </div>
</div>