<div id="dialogue-header">Add a Phase <button class="btn-x" ng-click="toggleAddPhase()">x</button></div>
<form novalidate>
  <div id="dialogue-body">
    <h2>Name:</h2>
    <input type="text" ng-model="input.phaseName" default="Awesome Workout Phase">
    <h2>Length:</h2>
    <input type="number" ng-model="input.lengthSeconds" placeholder="in seconds">
    <!--TODO: add slider-->
    <div class="buttons">
      <button type="button" ng-click="addPhase(input)">Add</button>
    </div>
  </div>
</form>
