@import '../_design-variables'
@import '../_compatibility'


#library
  +inner-frame()
  //+shadow(inset 0 0 10px $color-inner-shadow)
  padding: 0 8px
  margin: 24px auto
  height: 55vh
  overflow-y: hidden
  position: relative

@import '../_compatibility'
=track-panel
  height: 74px
  width: 168px
  float: left
  +shadow(0 .05em 0)
  +boarder-radius(2px)
  margin: 8px 10px
  padding: 1px 4px
  font-family: $font-standard
  font-size: 12px
  &:hover
    background: $track-panel-selected
  span
    display: block
    color: white
  .title
    margin: 3px 0 0 0
    font-weight: bold
    font-size: 12px
    line-height: 130%
  .track-footer
    margin: auto 0 0 0
    font-size: 10px
    .time, .bpm
      display: inline-block
      font-family: $font-digital-small
      font-size: 13px
    .time
      font-weight: bold
      float: left
    .bpm
      float: right

.track-selected > #track-panel-1, .track-selected > #track-panel-2, .track-selected > #track-panel-3, .track-selected > #track-panel-4
  background: $track-panel-selected !important
  border: 1px solid $track-panel-selected-border
  +shadow(0 0 10px white)

#track-panel-1
  background: $track-panel-color-1
  +track-panel

#track-panel-3
  background: $track-panel-color-3
  +track-panel

#track-panel-4
  background: $track-panel-color-4
  +track-panel

#search-bar
  float: right
  margin: 10px
  border-radius: 12px
  border-color: transparent
  padding: 0 8px
  width: 16%
  color: $search-bar-color
  +placeholder($search-bar-color)
  background: $search-bar

.upload-btn
  position: absolute
  bottom: 0
  right: 0
  background-color: #8469D2


#upload-tracks
  color: white
  font-style: bold
  font-size: 18px
  width: 100%;
  border-radius: 5px;
  font-weight: bolder;

#choose-files
  float: none
  margin: auto
  width: 80%
  color: white
  font-weight: bolder

.glyphicon-plus-sign
  margin: auto
  color: white
  font-size: 18px
