#library
  +inner-frame()
  padding: 0 8px
  margin: 24px auto
  height: 55vh
  overflow-y: auto

=track-panel
  height: 48px
  width: 128px
  +boarder-radius(2px)
  margin: 10px
  padding: 1px 4px
  font-family: $font-standard
  font-size: 9px
  span
    display: block
  .title
    font-weight: bold
    font-size: 10px
  .track-footer
    margin-top: 6px
    font-size: 10px
    .time, .bpm
      display: inline-block
      font-family: $font-digital-small
    .time
      font-weight: bold
    .bpm
      float: right

.track-selected > #track-panel-1
  background-color: #cede98 !important
  border: 3px solid #00a000

#track-panel-1
  background-color: $track-panel-color-1
  +track-panel

#track-panel-3
  background-color: $track-panel-color-3
  +track-panel

#search-bar
  float: right
  margin: 10px
  border-radius: 4px