@import "../_compatibility"



#upper-panel
  +inner-frame()
  +shadow(none)
  margin: auto
  min-height: 40px
  height: 8vh
  background-color: transparent
  border: none

#lower-panel
  +inner-frame()
  margin: auto
  min-height: 40px

.daw-interface
  width: 100%
  //margin: 0 2% 0 0
  height: 100%
  overflow: hidden

.add-component
  width: 48px
  height: 100%

#mix-header
  text-align: center

.playback-btns
  margin: auto

.playback-btn
  min-height: 35px
  max-height: 35px
  margin-left: 15px

#artist
  font-weight: 100
  font-size: 90%
  font-style: italic

#sfx-panel
  height: 23px
  background: transparent
.sfx-marker
  color: rgba(255, 26, 44, 0.93) !important