@import "../_compatibility"

#mix-editor-window
  //+inner-frame()
  margin: 20px 0 0 0 //NP: TEMPORARY. IF YOU SEE THIS LET NICK KNOW

//.mix-frame
//  +inner-frame()
//NP: I think this is a dup but kee

#upper-panel
  +inner-frame()
  +shadow(none)
  margin: auto
  min-height: 40px
  height: 8vh
  background-color: transparent
  border: none

#lower-panel
  +inner-frame()
  margin: auto
  min-height: 40px

.daw-interface
  width: 100%
  //margin: 0 2% 0 0
  height: 100%
  overflow: hidden

.add-component
  width: 48px
  height: 100%

#mix-header
  text-align: center

.playback-btns
  margin: auto

.playback-btn
  min-height: 35px
  max-height: 35px
  margin-left: 15px

