#mix-clip
  height: 100%
  background-color: $track-panel-color-1
  font-family: $font-standard
  font-weight: bold
  font-size: 10px
  overflow: hidden
  border-right: 1px solid #704203
  width: 100%

//NP: note the below is the tag, not ID
mix-clip
  border-right: 1px solid black
