@import '../_design-variables'
@import '../_compatibility'

// ===Begin styling===

.inner
  +inner-frame()

.body
  background-color: $color-body !important

action-buttons, #mix-edit-buttons, #mix-edit-buttons
  height: 10px
  overflow: visible
  button, div
    width: 120px
    height: 20px
    font-family: $font-standard
    border-radius: 0
    border: 1px solid #a4a4a4
    background-color: #4500a7
    padding: 0
    color: #a4a4a4
  button:hover
    background-color: #9f00e8
    color: #222

mix-header
  display: block
  background: $color1-dark-accent
  +shadow(0 2px 5px rgba(203, 4, 188, 0.67))
  margin: 0 0 80px 0
  padding: 6px 0

mix-header > h3
  margin: 0
  font-size: 18px
  font-weight: bold

#user-menu
  position: absolute
  top: 60px
  left: 0
  width: 32px
  height: 32px
  background-color: $color-inner-line
  text-align: center
  padding-top: 4px
  font-size: 21px

#phases-view
  z-index: 1

#mix-edit-buttons //NP: This must stay below `action-buttons, #mix-edit-buttons` for proper styling
  float: right
  margin: 0 80px
  div, button
    height: 28px
    position: block
    top: -8px
    border-bottom: none
    display: inline-block
    input
      width: 40px
      font-family: $font-digital-small
      text-align: center
      color: white
      background: transparent
      border: none
      border-bottom: 1px solid white
  #_offset //hacky, temp fix
    top: -2px

.mix-frame
  position: relative
  z-index: 4
  +inner-frame()
  display: block
  height: 100%
  //TODO subtle inner shadow for depth feel
  .phase
    font-family: $font-digital
    font-size: 2em
    text-align: center
    height: 100%
    padding: 0
    color: $phase-text
    background-color: $phase-color
    border-right: 1px solid #444
    display: inline-table
  #track-info-wrapper
    height: 100%

#add-phase
  display: inline
  background-color: #00b3ee
  height: 100%
  width: 20px

#progress-bar
  top: 50%
  margin-top: -10px
  left: 5%
  width: 100%
  display: none
.modified-panel
  background-color: $track-panel-color-2

@import '_library'
@import '_mix-clip'
@import '_phase-sliders'
@import '_modals'
@import '_mix-editor'