@import '_variables'

=inner-frame()
  background-color: $color-inner
  border: 1px solid $color-inner-line
  @media screen and (max-width: 799px)
    max-width: 2vw
  @media screen and (min-width: 800px)
    max-width: 800px !important


// ===Begin styling===

.inner
  +inner-frame()

.body
  background-color: $color-body !important

#user-menu
  position: absolute
  top: 60px
  left: 0
  width: 32px
  height: 32px
  background-color: $color-inner-line
  text-align: center
  padding-top: 4px
  font-size: 21px

#upper-panel
  +inner-frame()
  margin: auto
  min-height: 40px
  height: 13vh
  background-color: transparent
  border: none
  #mix-board
    width: 100%
    //margin: 0 2% 0 0
    height: 100%
    overflow: hidden

  //margin: 8vh 0

#mix-header
  text-align: center

#mix-view
  +inner-frame()
  display: block
  height: 100%
  //TODO subtle inner shadow for depth feel
  .phase
    font-family: $font-digital
    font-size: 2em
    text-align: center
    height: 100%
    padding: 0
    color: $phase-text
    background-color: $phase-color
    border-right: 1px solid #444
    display: inline-table
  #track-info-wrapper
    height: 100%
  border-bottom: 1px solid #646967
  //.phase:hover
  //  background-color: $phase-color-hover
  //  color: $phase-text-hover

#phase-view
  +inner-frame()
  height: 1.3em
  background-color: rgb(54, 50, 58)
  border-top: none

phase
  height: 100%
#phase
  background-color: #a2b488
  float: none
  height: 100%
  font-size: 10px
  font-weight: bold
  font-family: $font-digital

#action-buttons
  button
    width: 120px
    height: 20px
    font-family: $font-standard
    border-radius: 0
    border: 1px solid #a4a4a4
    background-color: $color-blue-steel
    padding: 0
    color: #a4a4a4
  button:hover
    background-color: $color-steel-highlight
    color: #222

#add-phase
  display: inline
  background-color: #00b3ee
  height: 100%
  width: 20px

#progress-bar
  top: 50%
  margin-top: -10px
  left: 5%
  width: 100%
  display: none

@import '_library'
@import '_mix-clip'