<div id="library">
  <uib-tabset>
    <uib-tab>
      <uib-tab-heading ng-click="musicTabClick()"><i class="glyphicon glyphicon-music"></i> Music</uib-tab-heading>
      <div ng-repeat="track in library | filter: {$: trackFilter} track by $index">
        <track-panel panel-identifier="stylizeTrack(track)" track-info="track" ng-click="prevWave(track)"></track-panel>
      </div>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading ng-click="sfxTabClick()"><i class="glyphicon glyphicon-equalizer"></i> SFX</uib-tab-heading>
      <div ng-repeat="sfx in sfxBase | filter: {$: trackFilter} track by $index">
        <sfx-panel panel-identifier="stylizeTrack(sfx)" sfx-info="sfx"></sfx-panel>
      </div>
    </uib-tab>
    <input id="search-bar" ng-model="trackFilter" placeholder=" search"/>
  </uib-tabset>
</div>
