<h3>
  <span ng-bind="formattedTimePassed.m"></span> :
  <span ng-bind="formattedTimePassed.s"></span>
</h3>

<div class="row">
  <div class = "playback-btns">
  <button class="btn btn-default playback-btn" ng-click="playClip()"><span class="glyphicon glyphicon-play"></span></button>
<button class="btn btn-default playback-btn" ng-click="playClip(true)"><span class="glyphicon glyphicon-step-backward"></span></button>
<button class="btn btn-default playback-btn" ng-click="pauseMix()"><span class="glyphicon glyphicon-pause"></span></button>
</div>
</div>
