<button class="music-button" type="button" ng-click="addSelectedTrackToMix(currentTrack)">Add To Mix</button>
<button class="sfx-button" type="button" ng-click="addEffectToMix(sfxTriggerTime)">Add Effect At:</button>
<input class="sfx-button" type="text" ng-model="sfxTriggerTime" placeholder="trigger time">
<button class="instruction-button" type="button" ng-click="openAddInstruction()">Create Instruction</button>
<button class="instruction-button" type="button" ng-click="addInstructionToMix(instructionTriggerTime)">Add Instruction At:</button>
<input class="instruction-button" type="text" ng-model="instructionTriggerTime" placeholder="trigger time">
