@import url(//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.stats {
    text-align: center;
    text-shadow: 1px 1px 0px #fff;
    margin-top: 25px;
}

.stats li {
    width: 120px;
}

.stats span {
    font-family: Helvetica;
    font-weight: bold;
    text-shadow: 1px 1px 0px #fff;
    font-size: 4em;
    display: block;
    line-height: 1em;
}


/* Large desktop */

@media (min-width: 1200px) {}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .profile img {
        width: 75px;
    }
    .profile h2 {
        font-size: 1.7em;
    }
    .stats span {
        font-size: 2em;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {}


/*Squircle*/

a.social {
    position: relative;
    display: inline-block;
    margin: .333rem .25rem;
    border-radius: .75rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    font-size: 0;
    transition: color .333s;
    &::after {
        font-family: 'fontawesome', sans-serif;
        font-size: 1.25rem;
    }
    &::before {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        border-radius: .6875rem;
        content: '';
    }
}


/*Specific Network Coloring*/

$network_names: twitter,
facebook,
google,
linkedin,
pintrest,
tumblr;
$network_urls:'https://twitter',
'http://www.facebook',
'https://plus.google',
'http://www.linkedin',
'http://pinterest',
'http://www.tumblr';
$network_colors:#00aced,
#3b5998,
#dd4b39,
#007bb6,
#cb2027,
#32506d;
$network_icons:'\f099',
'\f09a',
'\f0d5',
'\f0e1',
'\f0d2',
'\f173';
@for $i from 1 through length($network_names) {
    a.social {
        &.social-#{nth($network_names, $i)},
        &[href^='#{nth($network_urls, $i)}'] {
            background-color: nth($network_colors, $i);
            &::after {
                content: nth($network_icons, $i);
            }
            &::before {
                box-shadow: 0 0 0 6px nth($network_colors, $i);
            }
        }
    }
}

.music {
    list-style: none;
    background: #11b4b3;
    padding: 10px;
    font-family: Helvetica;
    font-weight: bold;
    color: #800080;
    width: 100%;
    font-size: 20px;
    margin-left: -1%;
}

.music:nth-child(odd) {
    background: #800080;
    color: #11b4b3;
}


/*Body*/


/*body {
    margin: 0 auto;
    padding: 1.5rem 3em;
    text-align: center;
}*/


/*star rating*/

@mixin star-rating( $filled-color: #F9BF3B, $empty-color: #444, $size: 40px, $width: 400px) {
    $star--filled: ★;
    $star--empty: ☆;
    width: $width;
    > * {
        float: right;
    }
    label {
        height: 40px;
        width: 10%;
        display: block;
        position: relative;
        cursor: pointer;

    top: 20px;
    left: 120px;

        @for $i from 5 through 1 {
            &:nth-of-type(#{$i}):after {
                $animation-delay: $i * .05s;
                animation-delay: $animation-delay;
            }
        }
        &:after {
            transition: all 0.4s ease-out;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            content: '#{$star--empty}';
            color: $empty-color;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: $size;
            animation: 1s pulse ease;
        }
        &:hover:after {
            color: lighten($empty-color, 10%);
            text-shadow: 0 0 15px lighten($empty-color, 10%);
        }
    }
    input {
        display: none;
        &:checked {
            + label:after,
            ~ label:after {
                content: '#{$star--filled}';
                color: $filled-color;
                text-shadow: 0 0 20px $filled-color;
            }
        }
    }
}

.rating {
    @include star-rating();
}

button {
  display: inline-block;
  font-size: 1em;
  padding: 0.25em 1.5em;
  appearance: none;
  border-radius: 0.5em;
  border: none;
  background: #0000b3;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: #0101ff;
}

button:active {
  background: #000067;
}

.firstname{
  color: #838383;
  font-size: 3em;
}
