$font-title: 'Cabin', Arial, sans-serif
$font-standard: Arial, sans-serif
$font-digital: 'Share Tech Mono', monospace
$font-digital-small: 'Nova Mono', monospace

$main-clock-font: 'Orbitron'

$color-body: #434343
$color-inner: #300510
$color-inner-line: transparent
$font-color: #eaeaea

$header-background: #8A5764

$track-panel-color-1: #bf0434
$track-panel-color-2: #84d94a
$track-panel-color-3: #f3a9ff
$track-panel-color-4: #6fa8dc
$track-panel-selected: #ff5166
$track-panel-selected-border: transparent

$phase-color: #161616
$phase-color-hover: rgba(18, 39, 21, 0.73)
$phase-text: rgba(161, 162, 163, 0.56)
$phase-text-hover: rgba(92, 184, 92, 0.56)

$search-bar: #0c0104
$search-bar-color: #F0B9C8

$color-inner-shadow: #826276

$color1-main: #75064C
$color1-accent: #91095E
$color1-bright-accent: #7C5CD8
$color1-dark-accent: #520034
$color1-dark: #30001E

$color2-main: #550763
$color2-accent: #690A7A
$color2-bright-accent: #84049A
$color2-dark-accent: #3B0245
$color2-dark: #230129

$color3-main: #201268
$color3-accent: #2A1780
$color3-bright-accent: #2F15A2
$color3-dark-accent: #140949
$color3-dark: #0C052B

$color1-light1: #A285F5

$color2-light1: #B9A2F9

$nav-tab: #d49ba9
$nav-tab-active: #ff0044

$mix-clip-drag: rgba(197, 169, 251, 0.54)


$button-background: #4c9ab8
$button-color: #04445d
$button-border-color: #4c9ab8

$button-background-hover: #034761
$button-color-hover: #2a84a6