$font-title: 'Cabin', Arial, sans-serif
$font-standard: Arial, sans-serif
$font-digital: 'Share Tech Mono', monospace
$font-digital-small: 'Nova Mono', monospace

$color-body: #434343
$color-inner: #22202C
$color-inner-line: #c1c1c1
$font-color: #eaeaea

$track-panel-color-1: #eea7f9
$track-panel-color-2: #84d94a
$track-panel-color-3: #f3a9ff
$track-panel-color-4: #6fa8dc

$phase-color: #161616
$phase-color-hover: rgba(18, 39, 21, 0.73)
$phase-text: rgba(161, 162, 163, 0.56)
$phase-text-hover: rgba(92, 184, 92, 0.56)
