@import '_design-variables'
*
  box-sizing: border-box

//for ui.bootstrap to work correctly
.nav, .pagination, .carousel, panel-title a
  cursor: pointer

@mixin clearfix
  &:after
    content: ""
    display: table
    clear: both

#main
  margin: 0 auto

=boarder-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

.dev-test
  //use this to get obvious size and border size feedback
  background-color: red !important
  border-color: #00b3ee !important
  font-color: black !important
.dev-placeholder
  //subtle marking that a text field will be dynamic
  border-left: 1px solid rgba(255, 239, 0, 0.3) !important
  border-right: 1px solid rgba(255, 239, 0, 0.3) !important
  border-bottom: 1px dotted rgba(196, 196, 196, 0.4) !important

@import 'directives/main'
@import 'home/main'
@import 'about/main'
@import 'tutorial/main'
@import 'login/main'
@import 'mix-board/mix-board'
@import '_bootstrap-tabs-override'

//html
//  background-color: $color-body

body
  background: url('http://i1382.photobucket.com/albums/ah279/npalenchar/dark_geometric_zpsneuywpgw.png') $color-body

h1, h2, h3, h4, h5, h6, p, blockquote
  color: $font-color

//*
//  font-color: $font-color

h1
  font-family: $font-title
  font-size: 43px
h3
  @extend h1
  font-size: 26px